<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}

    {% if site.title %}<title>{% if title %}{{ title }} – {% endif %}{{ site.title }}{% if not title and site.subtitle %} – {{ site.subtitle }}{% endif %}</title>{% endif %}
</head>

<body>
    <div id="container">
        <div id="sidebar">
            <h1 id="title"><a href="{{ get_url() }}">{{ site.title }}</a></h1>
            {% if site.subtitle %}<h2 id="subtitle">{{ site.subtitle }}</h2>{% endif %}
        </div>

        {% block breadcrumbs %}{% endblock %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            {% block linksfooter %}{% endblock %}
            {% if site.author %}© {{ none|date('%Y') }} {{ site.author }}{% endif %}
        </div>
    </div>
</body>
</html>

