{% extends 'layout.html' %}


{% set title = item.title %}

{% block breadcrumbs %}
    <div id="breadcrumbs">
        <a href="{{ get_url() }}">Home</a><span> » </span>
        <a href="{{ get_url(posts.tags[item.path1].url) }}">{{ item.path1 }}</a><span> » </span>
        <a href="{{ get_url(posts.tags[item.path2].url) }}">{{ item.path2 }}</a><span> » </span>
        <a href="{{ get_url(posts.tags[item.path3].url) }}">{{ item.path3 }}</a><span> » </span>
    </div>
{% endblock %}

{% block content %}
    <div class="post">
        <h1 class="post-title">{{ item.title }}</h1>
        {{ item.content }}
        <h2 class="post-meta">{{ item.date }}</h2>
    </div>
{% endblock %}

