{% extends 'layout.html' %}


{% set title = tag.name ~ ' : Archives : Blog' %}

{% block breadcrumbs %}
    <div id="breadcrumbs">
        <a href="{{ get_url() }}">home</a><span> » </span>
        {{ tag.name }}
    </div>
{% endblock %}

{% block content %}
    {% for archive in tag.archives|values %}
        <div class="post-list">
            {% for month in archive.months|values %}
                {% for post in month %}
                    <h1 class="post-title"><a href="{{ get_url(post.url) }}">{{ post.title }}</a></h1>
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

