html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  font: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

body {
  background-color: #FFF;
  background-position: left top;
  background-repeat: repeat;
  color: #333;
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 13px;
  line-height: 18px;
}

blockquote, dl, ol, p, pre, table, ul {
  margin: 18px 0px;
}

blockquote {
  overflow: hidden;
  padding: 0px 18px;
  background-color: #1f1f1f;
}

dl.horizontal > dd + dt, .archives > dd + dt, .archives-records > dd + dt {
  margin-top: 18px;
}
dl.horizontal > dd + dt + dd, .archives > dd + dt + dd, .archives-records > dd + dt + dd {
  margin-top: 18px;
}
dl.horizontal > dt, .archives > dt, .archives-records > dt {
  float: left;
  width: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1, h2 {
  line-height: 36px;
}

h1 {
  font-size: 28px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

li {
  position: relative;
}
ol > li:before, ul > li:before {
  position: absolute;
  color: #0B6E47;
}
ol > li {
  left: 60px;
  margin-right: 22px;
  counter-increment: item;
  font-size: 36px;
  line-height: 64px;
  margin-bottom: 56px;
  letter-spacing: 1px;
}
ol > li:before {
  left: -50px;
  width: 17px;
  text-align: right;
  content: counter(item,decimal) ".";
}
ul > li {
  left: 36px;
  margin-right: 12px;
  font-size: 36px;
  line-height: 64px;
  margin-bottom: 56px;
  letter-spacing: 1px;
  padding-left: 12px;
}
ul > li:before {
  left: -12px;
  content: "\2022";
}
ul.unstyled > li, #nav > li, #breadcrumbs > li {
  position: static;
  left: auto;
  margin-right: 0px;
}
ul.unstyled > li:before, #nav > li:before, #breadcrumbs > li:before {
  position: static;
  left: auto;
  content: none;
}

ol, ul {
  list-style-image: none;
  list-style-position: inside;
  list-style-type: none;
}
ol ol, ol ul, ul ol, ul ul {
  margin: 0px;
  margin-left: 20px;
}

ol {
  counter-reset: item;
}

pre {
  padding: 24px 24px;
  background-color: #0B6E47;
  font-family: "Envy Code R", "Ubuntu Mono", monospace;
  color: white;
  font-size: 28px;
  line-height: 28px;
  overflow: scroll;
  border-radius: 8px;
}

table {
  background-color: #1f1f1f;
  border-collapse: collapse;
}

td, th {
  padding: 9px;
}

td > :first-child {
  margin-top: 0px;
}
td > :last-child {
  margin-bottom: 0px;
}
tr:nth-child(2n) > td {
  background-color: #222222;
}

th {
  background-color: #1a1a1a;
  color: #e6db74;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

a {
  color: #0B6E47;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: #e6db74;
}

code {
  padding: 0px 3px;
  background-color: #1f1f1f;
  color: #a6a6a6;
  font-family: "Envy Code R", "Ubuntu Mono", monospace;
  line-height: 17px;
  white-space: pre;
}
pre code {
  padding: 0px;
  background-color: transparent;
  color: #f8f8f2;
  line-height: 18px;
}
table code {
  background-color: #1a1a1a;
}

em {
  font-style: italic;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}
a > img {
  padding: 5px;
  background-color: #1f1f1f;
}

strong {
  font-weight: bold;
}

sub, sup {
  font-size: 11px;
  line-height: 0px;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

#container {
  margin-top: 18px;
}

#sidebar {
  top: 0px;
  bottom: 0px;
  left: 0px;
  padding: 0px 18px;
}

#title {
  margin-top: 18px;
}

#subtitle {
  line-height: 18px;
}

#nav {
  margin-top: 18px;
}

#breadcrumbs {
  margin: 0px;
  padding: 9px;
}

#content {
  margin: 4em 4em;
}
#content > :first-child {
  margin-top: 0px;
}
#content > :last-child {
  margin-bottom: 0px;
}
#breadcrumbs + #content {
  margin-top: 18px;
}

.post-list > .post-title, .post-list > .post-meta {
  padding: 18px;
}
.post-list > .post-title {
  padding-bottom: 0px;
  line-height: 32px;
}
.post-list > .post-meta {
  padding-top: 0px;
}

.post-meta {
  margin-bottom: 36px;
  padding-top: 0px;
}

div.code {
  margin: 18px 0px;
}
div.code > div {
  overflow: auto;
  max-height: 486px;
}

.highlighttable {
  margin: 0px;
}

.linenodiv > pre, .highlight > pre {
  margin: 0px;
}

.archives-records {
  margin: 0px;
  padding: 0px;
}

#sidebar {
  background-color: #FFF;
  padding-bottom: 12px;
  padding-top: 0px;
  padding-left: 46px;
  border-bottom: solid 1px rgba(242, 242, 242, 1);
  margin-bottom: 36px;
}

#title {
  font-size: 14px;
}
#title > a {
  color: #DDD;
}
#title > a:hover {
  color: #999;
}

#menu {
  font-size: 18px
}

#subtitle {
  color: #a6a6a6;
  font-size: 16px;
}

#nav {
  font-style: normal;
  text-transform: uppercase;
}

#footer {
  font-style: normal;
  text-transform: uppercase;
  padding-top: 36px;
  padding-bottom: 36px;
  border-top: solid 1px rgba(242, 242, 242, 1);
  padding-left: 46px;
  color: #DDD;
  font-size: 14px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#breadcrumbs {
  color: #a6a6a6;
  font-size: 32px;
  margin: 0px 42px;
  text-transform: lowercase;
}

.post-list > .post-title {
  font-size: 36px;
  padding-left: 0px;
}
.post-list > .post-meta {
  font-size: 10px;
}
.post-list > .post-meta > a {
  color: white;
}
.post-list > .post-meta > a:hover {
  color: #a6ca48;
}

.post-title {
  font-size: 82px;
  line-height: 84px;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-bottom: 0px;
  margin-bottom: 36px;
}

.post-meta {
  color: #a6a6a6;
  font-style: normal;
  font-size: 24px;
  font-weight: normal;
}

div.code > div {
  background-color: #1f1f1f;
}

.highlighttable {
  background-color: transparent;
}

.linenos {
  background-color: #1a1a1a;
  color: #a6a6a6;
}

.linenodiv > pre, .highlight > pre {
  padding: 0px;
  background-color: transparent;
}

.archives-post-tags {
  color: #a6a6a6;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 2px;
  font-size: 10px;
}
.archives-post-tags > a {
  color: white;
}
.archives-post-tags > a:hover {
  color: #a6ca48;
}
.archives-post-tags > span {
  position: relative;
  top: -1px;
}


/** ------------- **/

.post h2 {
  font-size: 44px;
  line-height: 44px;
  letter-spacing: 1px;
  padding-bottom: 0px;
  margin-bottom: 52px;
}

.post p {
  font-size: 36px;
  line-height: 64px;
  margin-bottom: 56px;
  letter-spacing: 1px;
}

.post li {
  margin-bottom: 8px;
}

.post ul {
  margin-bottom: 56px;
}